<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Movie Review</title>

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('web/style.css') }}">
        <!-- Loading third party fonts -->
        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
        <link href="{{ asset('web/fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Loading main css file -->

    {% endblock %}
</head>
{% endblock %}
<body>
{% block header %}
<div id="site-content">
    <header class="site-header">
        <div class="container">
            <a href="{{ path("movie") }}" id="branding">
                <img src="{{ asset('web/images/logo.png') }}" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">Company Name</h1>
                    <small class="site-description">Tagline goes here</small>
                </div>
            </a> <!-- #branding -->

            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item current-menu-item"><a href="{{ path("movie") }}">Home</a></li>
                    <li class="menu-item"><a href="	{{ path("about") }}">About</a></li>
                    <li class="menu-item"><a href="{{ path("review") }}">Movie reviews</a></li>
                    <li class="menu-item"><a href="{{ path("join") }}">Join us</a></li>
                    <li class="menu-item"><a href="{{ path("contacts") }}">Contact</a></li>
                </ul> <!-- .menu -->

                <form action="#" class="search-form">
                    <input type="text" id='search-input' placeholder="Search...">
                    <button><i class="fa fa-search"></i></button>

                </form>
                <div class="row"></div>
                <div class="col-md-3 col-md-push-3" id="search-place">

                </div>

            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>
        </div>
    </header>
    {% endblock %}
{% block body %}



{% endblock %}

    {% block footer %}
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia
                            nesciunt saepe cupiditate</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Recent Review</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Help Center</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Join Us</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Social Media</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Newsletter</h3>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address">
                        </form>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
        </div> <!-- .container -->

    </footer>
</div>
{% endblock %}
{% block javascripts %}
    <!--[if lt IE 9]>
    <script src="{{ asset('web/js/ie-support/html5.js') }}"></script>
    <script src="{{ asset('web/js/ie-support/respond.js') }}"></script>
    <![endif]-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ asset('web/js/jquery-1.11.1.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="{{ asset('web/js/plugins.js') }}"></script>
    <script src="{{ asset('web/js/app.js')}}"></script>
{% endblock %}
{% block customJs %}
{% endblock %}
{% block SearchAjax %}
    <script>
        $('.search-form').on('submit', (e) => {
                let value = $('#search-input').val();
                $.ajax({
                    method: 'POST',
                    url: "/ajax/search",
                    data:{
                        name: value
                    },
                    success: function(data){
                        $('#search-place').html(data);
                    }
                });
        });
    </script>
{% endblock %}
</body>
</html>
