{% extends "base.html.twig" %}
{% block body %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="index.html">Home</a>
                    <span>Movie Review</span>
                </div>
                {{ dump(data) }}
                <div class="filters">
                    <select name="#" id="genres_select" placeholder="Choose Category">
                        <option value="none" hidden="">Choose Category</option>
                        {%  for genre in genres %}
                            <option value="{{ genre.genreId }}">{{ genre.genreName }}</option>
                        {% endfor %}
                    </select>
                    <select name="#" id="year_select">
                        <option value="none" hidden="">Choose Year</option>
                        {% for i in 1990..2020 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="loader" style="background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;height: 40px;display: none"></div>
                <div class="content">


                </div>
            </div>
        </div> <!-- .container -->
    </main>
{% endblock %}
{% block customJs %}
    <script>
        let defaultCategory = '28';
        let defaultYear = '2020';
        let genreValue = defaultCategory;
        let yearValue = defaultYear;
        let page =1;
        $( document ).ready(function() {
            $.ajax({
                method: 'POST',
                url: "/ajax/reviewFilter",
                data:{
                    genre:genreValue,
                    year:yearValue,
                    page:page,
                },
                success: function(data){
                    $('.content').html(data);
                }
            });
        });

        $content = $(".content");
        $(document).on({
            ajaxStart: function() {
                $('.loader').css({'display':'block'});
            },
            ajaxStop: function() {
                $('.loader').css({'display':'none'});
            }
        });
    </script>
{% endblock %}